<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Docker containers</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
  <script src="/node-static/js/intl-relativeformat.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
  <script>
    $(function(){
      const $timer = $('.deployed_at_timer')
      const deploy_at = new Date(parseInt($timer.attr('data-datetime'), 10))
      const relative = new IntlRelativeFormat('ja')
      setInterval(function(){
        $timer.text(relative.format(deploy_at))
      }, 1000 * 60)
    })
  </script>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container">
      <span class="navbar-brand"><i class="fab fa-docker"></i> Docker Proxy</span>
    </div>
  </nav>
  <div class="container">
    <div class="mb-1 text-right">
      <span class="mr-1 text-muted font-weight-bold">Next port:</span>
      <% for(let port of avaiable_ports) { %>
        <span class="badge badge-success"><%= port %></span>
      <% } %>
    </div>
    <div class="list-group">
      <% for (let container of containers) { %>
        <% const created_at = Date.parse(container.created_at) %>
        <% const url = `http://${container.names}.172.16.14.2.xip.io/` %>
        <% const info = fetchDockerContainerInfo(container.names) %>
        <% const deployed_at = Date.parse(info.deployed_at) %>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between mb-3">
            <a target="_blank" href="<%= url %>" >
              <h1 class="h3 mb-1"><i class="fas fa-box"></i> <%= container.names %></h1>
            </a>
            <small>
              <i class="far fa-clock"></i>&nbsp;
              <span class="deployed_at_timer" data-datetime="<%= deployed_at %>">
                <%= relativeFormat.format(deployed_at) %>
              </span>
            </small>

          </div>
          <div class="d-flex flex-wrap">
            <dl class="mr-5" style="font-size: 90%;">
              <dt>ID</dt><dd><%= container.id %></dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Ports</dt><dd><%= container.ports %></dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Size</dt><dd><%= container.size %></dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>URL</dt>
              <dd>
                <a target="_blank" href="<%= url %>" ><%= url %></a>
              </dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Branch</dt>
              <dd>
                <a href="<%= info.repository_url %>/tree/<%= info.branch %>" target="_blank"><%= info.branch %></a>
              </dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Commit</dt>
              <dd>
                  <a target="_blank" href="<%= info.repository_url %>/commit/<%= info.commit %>"><%= info.commit.slice(0, 7) %></a>
              </dd>
            </dl>
          </div>
          <div class="text-right">
            <small>Deploy at: <%= format(deployed_at, 'yyyy/M/d HH:mm:ss') %></small>
          </div>
          <div class="text-right">
            <small>Docker run at: <%= format(created_at, 'yyyy/M/d HH:mm:ss') %></small>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>