<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Docker containers</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
  <script src="/docker-proxy/static/js/intl-relativeformat.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $(function(){
      const relative = new IntlRelativeFormat('ja')
      $.each($('.js-relative-format'), function(){
        const $timer = $(this)
        const deploy_at = new Date(parseInt($timer.attr('data-datetime'), 10))
        setInterval(function(){
          $timer.text(relative.format(deploy_at))
        }, 1000 * 15)
      })

      $('[data-toggle="tooltip"]').tooltip()
    })
    
  </script>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container">
      <span class="navbar-brand"><i class="fab fa-docker"></i> Docker Proxy</span>
    </div>
  </nav>
  <div class="container">
    <div class="mb-1 text-right">
      <span class="mr-1 text-muted font-weight-bold">Next port:</span>
      <% for(let port of avaiable_ports) { %>
        <span class="badge badge-success"><%= port %></span>
      <% } %>
    </div>
    <div class="list-group js-containers" data-names="<%= containers.map(c => c.names).join(',') %>">
      <% for (let container of containers) { %>
        <% const created_at = Date.parse(container.created_at) %>
        <% const url = `http://${container.names}.172.16.14.2.xip.io/` %>
        <% const info = fetchDockerContainerInfo(container.names) %>
        <% const deployed_at = Date.parse(info.deployed_at) %>
        <% logs = getDeployLog(container.names) %>
        <div class="js-container list-group-item list-group-item-action" data-name="<%= container.names %>">
          <div class="d-flex w-100 justify-content-between mb-3">
            <a target="_blank" href="<%= url %>" >
              <h1 class="h3 mb-1"><i class="fas fa-box"></i> <%= container.names %></h1>
            </a>
            <small>
              <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="<%= format(deployed_at, 'yyyy/M/d HH:mm:ss') %>">
                <i class="far fa-clock"></i>&nbsp;
                <span class="js-relative-format" data-datetime="<%= deployed_at %>">
                  <%= relativeFormat.format(deployed_at) %>
                </span>
              </div>
            </small>

          </div>
          <div class="d-flex flex-wrap">
            <dl class="mr-5" style="font-size: 90%;">
              <dt>ID</dt><dd><%= container.id %></dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Ports</dt><dd><%= container.ports %></dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Size</dt><dd><%= container.size %></dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>URL</dt>
              <dd>
                <a target="_blank" href="<%= url %>" ><%= url %></a>
              </dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Branch</dt>
              <dd>
                <a href="<%= info.repository_url %>/tree/<%= info.branch %>" target="_blank"><%= info.branch %></a>
              </dd>
            </dl>
            <dl class="mr-5" style="font-size: 90%;">
              <dt>Commit</dt>
              <dd>
                  <a target="_blank" href="<%= info.repository_url %>/commit/<%= info.commit %>"><%= info.commit.slice(0, 7) %></a>
              </dd>
            </dl>
          </div>
          <div>
            <%
              var classname = 'btn-success'
              if(container.is_running){
                classname = 'btn-warning'
              } else if(logs.some(l => l.has_error())) {
                classname = 'btn-danger'
              }
            %>
            <button class="<%= classnames('btn btn-primary btn-sm', classname) %>" type="button" data-toggle="collapse" data-target="#logs-<%= container.names %>">
              <% if (container.is_running) { %>
                Deploying:  <%= format(container.deploy_start_at, 'yyyy/M/d HH:mm:ss') %>
              <% } else { %>
                Deploy at: <%= format(deployed_at, 'yyyy/M/d HH:mm:ss') %>
              <% } %>
            </button>
            <div class="accordion collapse my-3" id="logs-<%= container.names %>">
              <% for (let index = 0; index < logs.length; index++) { %>
                <% log = logs[index] %>
                <div class="card">
                  <div class="card-header">
                    <a href="javascript:void(0)" class="<%= classnames('d-block', {'text-danger': log.has_error()}) %>" data-toggle="collapse" data-target="#log-<%= index %>" aria-expanded="true" aria-controls="collapseOne">
                      <%= log.title %>
                    </a>
                  </div>
                  <div id="log-<%= index %>" class="<%= classnames('collapse', {'show': log.has_error()}) %>" data-parent="#logs-<%= container.names %>">
                    <div class="card-body">
                      <pre class="m-0"><%= log.body %></pre>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            
          </div>
          <div class="text-right">
            <small data-toggle="tooltip" data-placement="top" title="<%= format(created_at, 'yyyy/M/d HH:mm:ss') %>">
              Docker run at: 
              <span class="js-relative-format" data-datetime="<%= created_at %>">
                <%= relativeFormat.format(created_at) %>
              </span>
            </small>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>